.button-container {
  width: 2rem;
  height: 5rem;
  background-image: url("/image/board-toggle.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}
