.input {
  width: 100%;
  background-color: var(--ACHROMATIC);
  font-size: 1.3rem;
  position: relative;
  padding-left: 0.8rem;
  outline: none;
  font-family: "Tomorrow-Regular";
  color: var(--BASE-BLUE-1);
}
