.button-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  background-image: url("/image/action-button-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 4.8rem;
  height: 4.8rem;
}
