$DARK: #000000;

$DARK-OPACITY-1: rgba(0, 0, 0, 0.1);
$DARK-OPACITY-2: rgba(0, 0, 0, 0.2);
$DARK-OPACITY-3: rgba(0, 0, 0, 0.3);
$DARK-OPACITY-4: rgba(0, 0, 0, 0.4);
$DARK-OPACITY-5: rgba(0, 0, 0, 0.5);
$DARK-OPACITY-6: rgba(0, 0, 0, 0.6);
$DARK-OPACITY-7: rgba(0, 0, 0, 0.7);
$DARK-OPACITY-8: rgba(0, 0, 0, 0.8);
$DARK-OPACITY-9: rgba(0, 0, 0, 0.9);

$LIGHT: #ffffff;

$LIGHT-OPACITY-1: rgba(255, 255, 255, 0.1);
$LIGHT-OPACITY-2: rgba(255, 255, 255, 0.2);
$LIGHT-OPACITY-3: rgba(255, 255, 255, 0.3);
$LIGHT-OPACITY-4: rgba(255, 255, 255, 0.4);
$LIGHT-OPACITY-5: rgba(255, 255, 255, 0.5);
$LIGHT-OPACITY-6: rgba(255, 255, 255, 0.6);
$LIGHT-OPACITY-7: rgba(255, 255, 255, 0.7);
$LIGHT-OPACITY-8: rgba(255, 255, 255, 0.8);
$LIGHT-OPACITY-9: rgba(255, 255, 255, 0.9);

// DARK-GRAY
$DARK-GRAY-1: #242424;
$DARK-GRAY-2: #333333;
$DARK-GRAY-3: #434343;
$DARK-GRAY-4: #5f5f5f;
$DARK-GRAY-5: #666666;

$BORDER-GRAY-1: #1a1a1a;

// BASE-GRAY
$BASE-GRAY-1: #999999;
$BASE-GRAY-2: #bbbbbb;
$BASE-GRAY-3: #dddddd;

// LIGHT-GRAY
$LIGHT-GRAY-1: #131111;
$LIGHT-GRAY-2: #fbfbfb;

$BASE-BLUE-1: rgba(22, 55, 173, 1);
$BASE-BLUE-1-OPACITY-1: rgba(22, 55, 173, 0.1);
$BASE-BLUE-1-OPACITY-2: rgba(22, 55, 173, 0.2);
$BASE-BLUE-1-OPACITY-3: rgba(22, 55, 173, 0.3);
$BASE-BLUE-1-OPACITY-4: rgba(22, 55, 173, 0.4);
$BASE-BLUE-1-OPACITY-5: rgba(22, 55, 173, 0.5);
$BASE-BLUE-1-OPACITY-6: rgba(22, 55, 173, 0.6);
$BASE-BLUE-1-OPACITY-7: rgba(22, 55, 173, 0.7);
$BASE-BLUE-1-OPACITY-8: rgba(22, 55, 173, 0.8);
$BASE-BLUE-1-OPACITY-9: rgba(22, 55, 173, 0.9);
