@font-face {
  font-family: "Tomorrow-Black";
  src: url(./../../public/font/tomorrow/Tomorrow-Black.ttf) format("truetype");
}

@font-face {
  font-family: "Tomorrow-Bold";
  src: url(./../../public/font/tomorrow/Tomorrow-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Tomorrow-ExtraBold";
  src: url(./../../public/font/tomorrow/Tomorrow-ExtraBold.ttf)
    format("truetype");
}

@font-face {
  font-family: "Tomorrow-Light";
  src: url(./../../public/font/tomorrow/Tomorrow-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Tomorrow-Medium";
  src: url(./../../public/font/tomorrow/Tomorrow-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Tomorrow-Regular";
  src: url(./../../public/font/tomorrow/Tomorrow-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Tomorrow-SemiBold";
  src: url(./../../public/font/tomorrow/Tomorrow-SemiBold.ttf)
    format("truetype");
}

@font-face {
  font-family: "Tomorrow-Thin";
  src: url(./../../public/font/tomorrow/Tomorrow-Thin.ttf) format("truetype");
}

@font-face {
  font-family: "Tomorrow-ExtraLight";
  src: url(./../../public/font/tomorrow/Tomorrow-ExtraLight.ttf)
    format("truetype");
}
