@use "@/styles/_color.scss" as *;

html[data-theme="light"] {
  --BACKGROUND-1: #{$LIGHT-GRAY-2};
  --BACKGROUND-2: #{$BASE-GRAY-3};
  --ACHROMATIC: #{$LIGHT};
  --ACHROMATIC-REVERSE: #{$DARK};
  --ACHROMATIC-OPACITY-1: #{$LIGHT-OPACITY-1};
  --ACHROMATIC-OPACITY-2: #{$LIGHT-OPACITY-2};
  --ACHROMATIC-OPACITY-3: #{$LIGHT-OPACITY-3};
  --ACHROMATIC-OPACITY-4: #{$LIGHT-OPACITY-4};
  --ACHROMATIC-OPACITY-5: #{$LIGHT-OPACITY-5};
  --ACHROMATIC-OPACITY-6: #{$LIGHT-OPACITY-6};
  --ACHROMATIC-OPACITY-7: #{$LIGHT-OPACITY-7};
  --ACHROMATIC-OPACITY-8: #{$LIGHT-OPACITY-8};
  --ACHROMATIC-OPACITY-9: #{$LIGHT-OPACITY-9};
  --ACHROMATIC-REVERSE-OPACITY-1: #{$DARK-OPACITY-1};
  --ACHROMATIC-REVERSE-OPACITY-2: #{$DARK-OPACITY-2};
  --ACHROMATIC-REVERSE-OPACITY-3: #{$DARK-OPACITY-3};
  --ACHROMATIC-REVERSE-OPACITY-4: #{$DARK-OPACITY-4};
  --ACHROMATIC-REVERSE-OPACITY-5: #{$DARK-OPACITY-5};
  --ACHROMATIC-REVERSE-OPACITY-6: #{$DARK-OPACITY-6};
  --ACHROMATIC-REVERSE-OPACITY-7: #{$DARK-OPACITY-7};
  --ACHROMATIC-REVERSE-OPACITY-8: #{$DARK-OPACITY-8};
  --ACHROMATIC-REVERSE-OPACITY-9: #{$DARK-OPACITY-9};
  --BASE-BLUE-1: #{$BASE-BLUE-1};
  --BASE-BLUE-1-OPACITY-1: #{$BASE-BLUE-1-OPACITY-1};
  --BASE-BLUE-1-OPACITY-2: #{$BASE-BLUE-1-OPACITY-2};
  --BASE-BLUE-1-OPACITY-3: #{$BASE-BLUE-1-OPACITY-3};
  --BASE-BLUE-1-OPACITY-4: #{$BASE-BLUE-1-OPACITY-4};
  --BASE-BLUE-1-OPACITY-5: #{$BASE-BLUE-1-OPACITY-5};
  --BASE-BLUE-1-OPACITY-6: #{$BASE-BLUE-1-OPACITY-6};
  --BASE-BLUE-1-OPACITY-7: #{$BASE-BLUE-1-OPACITY-7};
  --BASE-BLUE-1-OPACITY-8: #{$BASE-BLUE-1-OPACITY-8};
  --BASE-BLUE-1-OPACITY-9: #{$BASE-BLUE-1-OPACITY-9};
}

html[data-theme="dark"] {
  --BACKGROUND-1: #{$DARK-GRAY-1};
  --BACKGROUND-2: #{$DARK-GRAY-2};
  --ACHROMATIC: #{$DARK};
  --ACHROMATIC-REVERSE: #{$LIGHT};
  --ACHROMATIC-OPACITY-1: #{$DARK-OPACITY-1};
  --ACHROMATIC-OPACITY-2: #{$DARK-OPACITY-2};
  --ACHROMATIC-OPACITY-3: #{$DARK-OPACITY-3};
  --ACHROMATIC-OPACITY-4: #{$DARK-OPACITY-4};
  --ACHROMATIC-OPACITY-5: #{$DARK-OPACITY-5};
  --ACHROMATIC-OPACITY-6: #{$DARK-OPACITY-6};
  --ACHROMATIC-OPACITY-7: #{$DARK-OPACITY-7};
  --ACHROMATIC-OPACITY-8: #{$DARK-OPACITY-8};
  --ACHROMATIC-OPACITY-9: #{$DARK-OPACITY-9};
  --ACHROMATIC-REVERSE-OPACITY-1: #{$LIGHT-OPACITY-1};
  --ACHROMATIC-REVERSE-OPACITY-2: #{$LIGHT-OPACITY-2};
  --ACHROMATIC-REVERSE-OPACITY-3: #{$LIGHT-OPACITY-3};
  --ACHROMATIC-REVERSE-OPACITY-4: #{$LIGHT-OPACITY-4};
  --ACHROMATIC-REVERSE-OPACITY-5: #{$LIGHT-OPACITY-5};
  --ACHROMATIC-REVERSE-OPACITY-6: #{$LIGHT-OPACITY-6};
  --ACHROMATIC-REVERSE-OPACITY-7: #{$LIGHT-OPACITY-7};
  --ACHROMATIC-REVERSE-OPACITY-8: #{$LIGHT-OPACITY-8};
  --ACHROMATIC-REVERSE-OPACITY-9: #{$LIGHT-OPACITY-9};
  --BASE-BLUE-1: #{$BASE-BLUE-1};
  --BASE-BLUE-1-OPACITY-1: #{$BASE-BLUE-1-OPACITY-1};
  --BASE-BLUE-1-OPACITY-2: #{$BASE-BLUE-1-OPACITY-2};
  --BASE-BLUE-1-OPACITY-3: #{$BASE-BLUE-1-OPACITY-3};
  --BASE-BLUE-1-OPACITY-4: #{$BASE-BLUE-1-OPACITY-4};
  --BASE-BLUE-1-OPACITY-5: #{$BASE-BLUE-1-OPACITY-5};
  --BASE-BLUE-1-OPACITY-6: #{$BASE-BLUE-1-OPACITY-6};
  --BASE-BLUE-1-OPACITY-7: #{$BASE-BLUE-1-OPACITY-7};
  --BASE-BLUE-1-OPACITY-8: #{$BASE-BLUE-1-OPACITY-8};
  --BASE-BLUE-1-OPACITY-9: #{$BASE-BLUE-1-OPACITY-9};
}
